<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BridgeU Login</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/2signup.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">BridgeU</div>
      {{!-- <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="clubs.html">Clubs</a></li>
        <li><a href="#">Alumni Directory</a></li>
      </ul>
      <div class="burger">
        <i class="fas fa-bars"></i>
      </div> --}}
    </nav>
<div class="login-section">
    <div class="login-container">
      <div class="for-students">
        <h3>For students</h3>
        <p>We help companies connect with alumni for recruitment, networking,
          and mentorship.</p>
        <button class="orange-btn"><a
            class="white"
            href="/login"
          >Login</a></button><br />
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
      </div>

      <div class="for-alumni">
        <h3>For Alumni</h3>
        <p>Join alumni from all over the world. Connect, collaborate, and
          network.</p>
        <button class="orange-btn"><a
            class="white"
            href="/login"
          >Login</a></button><br />
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
      </div>
    </div>
</div>
    <script src="script.js"></script>
  </body>
</html>