<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Clubs</title>
    <link rel="stylesheet" href="css/clubs.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Clubs Page</h1>
    </header>
    <div class="container">
        <div class="grid">
            <div class="box">
                <a href="/techno">
                <img src="images/clubs/tech.png" alt="Image 1">
                <h3><b>TechnoX </b><br><i style="color: #555; font-size: smaller;">Technical Society</i></h3>
                <p>TechnoX is a vibrant college technical society that fosters innovation, hosts workshops, and organizes events to enhance technical skills and knowledge among students.</p>
            </a>               
            </div>
            <div class="box">
                <a href="techno.html">
                <img src="images/clubs/entre.png" alt="Image 2">
                <h3><b>Bizeco</b> <br><i style="color: #555; font-size: smaller;">Entrepreneurship Society</i></h3>
                <p>Bizeco is a dynamic college entrepreneurship society fostering innovation, providing resources, and mentoring students to develop and launch impactful startup ideas and ventures.</p>
            </a>
            
            </div>
            <div class="box">
                <a href="techno.html">
                <img src="images/clubs/social.png" alt="Image 3">
                <h3><b>NSS Club</b><br><i style="color: #555; font-size: smaller;">Social Service</i></h3>
                <p>The NSS Club at our college promotes community service through volunteerism, addressing social issues, and fostering a spirit of empathy and social responsibility among students.</p>
            </a>
            </div>
            <div class="box">
                <a href="techno.html">
                <img src="images/clubs/yoga.png" alt="Image 4">
                <h3><b>Niyantran</b><br><i style="color: #555; font-size: smaller;">Yoga & Wellness Club</i></h3>
                <p>Niyantran is the college Yoga & Wellness Club, promoting holistic well-being through yoga, mindfulness, and wellness practices for a balanced and healthy student life.</p>
            </a>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>