<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BridgeU!</title>
  </head>
  <body>

    <link rel="stylesheet" href="css/home.css" />

    <div class="desktop-5">
      <a href="/2signup"><button class="events">Events</button></a>
      <a href="/2signup"><button class="forum" >Forum</button></a>
      <a href="/2signup"><button class="clubs" >Clubs</button></a>
      <a href="/2signup"><button class="alumni-directory" >Alumni Directory</button></a>
      <a href="/2signup"><button class="home" >Home</button></a>
      <div class="saly-31">
        <img class="saly-312" src="images/Assets/hands.png" alt="Logo" />
      </div>
      <div class="saly-10">
        <img class="saly-102" src="images/Assets/girl.png" />
      </div>
      <div
        class="welcome-to-the-future-of-collaboration-connect-with-alumni-for-mentorship-insights-and-support-whether-launching-projects-or-seeking-advice-this-is-your-space-to-grow-and-make-impactful-connections-start-shaping-your-future-today"
      >
        Welcome to the future of collaboration! Connect with alumni for
        mentorship, insights, and support. Whether launching projects or seeking
        advice, this is your space to grow and make impactful connections. Start
        shaping your future today!
      </div>
      <div class="frame-2"></div>
      <img class="_20240905-115311-1" src="images/Assets/BridgeULogo.png" />
      <div
        class="reconnect-inspire-contribute-mentor-students-support-projects-and-share-your-expertise-make-a-difference-and-give-back-to-the-community-that-shaped-you-let-s-empower-the-future-together"
      >
        Reconnect. Inspire. Contribute. Mentor students, support projects, and
        share your expertise. Make a difference and give back to the community
        that shaped you. Let’s empower the future together!
      </div>
      <img
        class="dall-e-2024-09-05-13-03-54-a-minimalistic-landscape-background-image-with-very-dull-and-light-shades-of-1"
        src="images/Assets/bridgebackggroundimage.png"
      />
      <div class="creating-legacies-inspiring-future">
        Creating Legacies, Inspiring Future
      </div>
      <div class="frame-3">
        <a href="/2signup">
          <button class="join-our-community">Join Our Community</button>
        </a>

      </div>
    </div>
    <script>
 
    </script>
  </body>
</html>