<!-- tempelates /signup.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    


    <form action="/signup" method="post" >
    <h1>Sign Up</h1>
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
         <a href="/">Go back to home page</a>

    </form>

      

</body>
</html>
