body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #a781f5;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.payment-options {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.gateway {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.gateway input {
    margin-right: 10px;
}

.gateway img {
    width: 50px;
    margin-right: 10px;
}

.gateway p {
    margin: 0;
}

button {
    background-color: #a781f5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #a781f5;
}
